accelerate==0.22.0
appdirs==1.4.4
atomicwrites==1.4.0
conda-repo-cli==1.0.75
conda-verify==3.4.2
datasets==2.14.7
decorator==4.4.2
et-xmlfile==1.1.0
fonttools==4.25.0
google-ai-generativelanguage==0.2.0
google-api-core==2.18.0
google-auth==2.29.0
google-generativeai==0.1.0
googleapis-common-protos==1.63.0
grpcio==1.62.2
grpcio-status==1.62.2
gTTS==2.5.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.22.2
imageio-ffmpeg==0.4.9
inflection==0.5.1
jsonpointer==2.1
moviepy==1.0.3
multiprocess==0.70.15
munkres==1.1.4
openai==1.22.0
openpyxl==3.0.10
pandas==2.0.0
patsy==0.5.3
ply==3.11
proglog==0.1.10
proto-plus==1.23.0
protobuf==4.24.2
pyarrow-hotfix==0.6
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pydub==0.25.1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
python-lsp-jsonrpc==1.0.0
pytube==15.0.0
rsa==4.9
safetensors==0.4.3
scipy==1.10.1
sentencepiece==0.1.99
tenacity==8.2.3
tiktoken==0.4.0
tokenizers==0.13.3
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.1
transformers==4.33.0
webencodings==0.5.1
whisper==1.1.10
xxhash==3.4.1
