body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  /* .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  } */
  
  form {
    padding: 30px;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #666666;
  }
  
  input[type='text'],
  input[type='number'],
  input[type='file'],
  select {
    width: 100%;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box; 
  }
  
  input[type='file'] {
    margin-top: 10px;
  }
  
  /* select {
    appearance: none;
    background-color: #ffffff;
  } */

  select {
    appearance: none;
    background-color: #f9f9f9;
    padding-right: 30px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23666"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  
  input[type='file'] {
    background-color: #f0f0f0;
  }
  
  button[type='submit'] {
    width: 30%;
    margin-top: 20px;
    margin-left: 500px;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type='submit']:hover {
    background-color: #45a049;
  }
  
  .link-input {
    display: none;
  }
  
  .link-input.active {
    display: block;
  }
  
  .link-input input[type='text'] {
    margin-top: 10px;
  }
  
  .upload-label {
    cursor: pointer;
    display: block;
    margin-top: 10px;
    color: #333333;
  }
  
  .upload-label:hover {
    text-decoration: underline;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  @media screen and (max-width: 600px) {
    .container {
      margin: 20px auto;
    }
  }
  