.section {
    display: flex;
    gap: 20px;
    height: 80vh;
    width: 100%;
}

.subsection {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px;
}

.transcript,
.notes {
  flex: 1;
  overflow: auto; 
  resize: none; 
  border-radius: 8px;
  padding: 20px;
}